.taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: silver;
    border-top: 2px solid white;
    border-bottom: 2px solid gray;
    padding: 2px 4px;
    max-height: 28px;
    font-family: "Pixelated MS Sans Serif", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.start-button {
    display: flex;
    align-items: center;
    background: #c0c0c0;
    cursor: pointer;
    gap: 4px;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    min-width: 55px;
    padding: 5px;
}

.start-button img {
    width: 16px;
    height: 16px;
}

.taskbar-button {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 20px;
}

.taskbar-button img {
    padding-right: 5px;
    height: 16px;
}

.taskbar-space {
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-x: auto;
}

.taskbar-clock {
    background: #c0c0c0;
    padding: 2px 6px;
    border: 2px inset #fff;
    font-size: 12px;
}

.start-menu {
    height: 0;
    position: fixed;
    bottom: 28px;
    left: 0;
    overflow: hidden;
    background-image: url('/assets/startmenu.png');
    transition: height 0.3s ease;
}

.start-menu.visible {
    overflow: visible;
    height: 383px;
    width: 168px;
}